 <style>
         body {
        background-image: url('file:///C:/Users/GIGABYTE/Pictures/th%20(5).png');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
    }
   </style>